@import 'reset.css';
.flex {
  display: flex;
}

.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(4, 109, 141);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #301f74;
}
.header__img {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease-in-out;
}
.header__img:hover {
  transform: scale(1.25);
}
.header__btn {
  margin-right: 25px;
}

.main {
  height: calc(100vh - 100px);
}
.main__container {
  margin: 0 25px;
  padding: 25px 0;
  display: grid;
  grid-template-columns: 1fr 260px;
  grid-gap: 30px;
}

.login__container {
  align-items: center;
  justify-content: center;
}
.login__btn {
  transition: transform 0.3s ease-in-out;
}
.login__btn:hover {
  transform: scale(1.05);
}

.chat {
  flex-direction: column;
  font-size: 20px;
}
.chat__list {
  max-height: calc(100vh - 100px - 240px);
  overflow: auto;
}
.chat__item {
  margin-bottom: 30px;
}
.chat__photo {
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.chat__name {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  font-size: 14px;
}
.chat__text {
  margin-bottom: 20px;
  padding: 0 10px 0 0;
}
.chat__time {
  padding: 0 10px 0 0;
  font-size: 10px;
  text-align: right;
}
.chat__message {
  margin-top: 20px;
}
.chat__textearea {
  margin-bottom: 10px;
  font-size: 16px;
  resize: none;
}

.quiz {
  align-items: center;
  flex-direction: column;
}
.quiz__add {
  margin-bottom: 30px;
  align-items: center;
  flex-wrap: wrap;
}
.quiz__add p {
  margin-right: 10px;
}
.quiz__add input {
  margin-right: 10px;
}
.quiz__wraper {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.quiz__card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 300px;
  height: 200px;
  border: 1px solid black;
}
.quiz__title {
  margin-bottom: 30px;
  font-size: 40px;
}
.quiz__quest-container {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.quiz__question {
  text-align: center;
  margin-bottom: 50px;
  padding: 10px;
  font-size: 32px;
  background-color: aquamarine;
}
.quiz__answer-wrapper {
  flex-wrap: wrap;
  justify-content: center;
}
.quiz__answer-card {
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  font-size: 24px;
  background-color: aquamarine;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.quiz__answer-card:hover {
  background-color: chocolate;
}

.modal__container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}/*# sourceMappingURL=App.css.map */